@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

*{
    margin: 0;
    padding: 0;
}



body{
    font-size: 14px;
    font-family: "Lato", "Arial", "Helvetica", sans-serif;
    background-color: #253d50;
    color: #000;
}

header{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

main{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

header{
    background-color: #bdb7bf;
    margin-bottom: 0;

}

.header-nav{
    background-color: #8db7d7;
    margin-top: 10px;


    border-radius: 10px;
}

.header-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /*height: 50px;*/
    max-width: 100%;
    flex-wrap: wrap;
}

.header-nav ul li{
    height: inherit;
    width: auto;
    border-left: 3px solid #8db7d7;
    cursor: pointer;
    padding: 15px;
}

.index-page li:nth-child(1), .test-page li:nth-child(4), .images-page li:nth-child(2), .videos-page li:nth-child(3){

    background-color: #f3f3f3;
    border-left: 3px solid #1001d7;
}


.header-nav ul li:hover{
    background-color: #f3f3f3;
    border-left: 3px solid #1001d7;
}

.header-nav ul li a{
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #000000
}

.welcome{
    text-align: center;
    padding-top: 15px;
    background-color: #d7892a;
    border-radius: 10px;
}

.welcome h1, h3{
    text-transform: capitalize;
}

.welcome h1{
    font-size: 8rem;
    color: #000;
    font-family: 'Playfair Display', serif;
}

.welcome h3{
    color: #000;
    padding-bottom: 15px;
}
.welcome img{
    width: 30%;
}
/*#options {*/
    /*position: relative;*/
    /*z-index: 100;*/
    /*margin-bottom: 40px;*/
/*}*/



#options{
    position: absolute;
    top: 140px;
    left: 70px;
}

#navigation button{
    height: 30px;
    width:50px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    text-decoration: none;
    outline: none;
}

#navigation button:hover{
    background-color: lightgreen;
}
main{
    margin-top: 0;
}


.fuck-carousel{
    background-color: #8db7d7;
    height: 250px;
    border-radius: 10px;
}

.fuck-carousel h2{
    margin: 0;
}

.typical-programmers{
    text-align: center;
}

.typical-programmers h2{
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Balthazar", "Droid Serif", serif;

}

.typical-programmers p{
    text-transform: capitalize;
}

.testim{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}

.testim h1{
    margin:0;
    text-align: center;
    font-family: "Balthazar", "Droid Serif", serif;
}

.testimonials{
    display: inline-flex;
    /*flex-direction: row;*/
    /*align-content: space-around;*/
    justify-content: center;
    border-radius: 15px;
    margin-top: 10px;
}

.left-testimonial, .right-testimonial{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    width: 24%;
    font-size: 1.4rem;
    margin: 5px;
    border: 5px solid #253d50;
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.left-testimonial img{
    float:left;
    max-width:100%;
    height:180px;
    border-radius: 50%;
}

.right-testimonial img{
    float: right;
    max-width:100%;
    height: 200px;
    border-radius: 50%;
}

.testimonial-name{
    height: 15%;
    font-size: 1.2rem;
    font-weight:bold;
    text-align: right;
    /*position: absolute;*/
}

.questionary{
    height: 500px;
    background-color: #8db7d7;
    border-radius: 15px;
}

.questions-container{
    /*overflow: hidden;*/
    height: 500px;

    position: relative;
    /*background-color: lightblue;*/
    text-align: center;
}

.question-box, .result{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: -150%;
    transition: left 1s;
    /*background-color: lightblue;*/
    /*border: 2px solid black;*/
    /*top: 0;*/
    /*left: 0;*/
}

.question-1{
    /*left: 10px;*/
    left: 0;
}

/*.result-1{*/
    /*left: 0;*/
/*}*/

.question{
    /*display: block;*/
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    width: 50%;
}

.answers{
    display: inline-flex;
}

.answers button{
    line-height:100px;
    width: 200px;
    height: 100px;
    background-color: #fff;
    margin: 15px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
}

.answers button:hover{
    background-color: green;
    color: #fff;
    border: 2px solid white;
}

.result-text{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto, sans-serif
}

.result img{
    width: 500px;
    height: 300px;
    border-radius: 15px;
}

.questionary p{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}

footer{
    justify-content: center;

    width: 80%;
    height: 50px;
    margin: 0 auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 15px;
    background-color: #8db7d7;
    /*!*display: inline-flex;*!*/
    /*flex-direction: row;*/
}

footer p{
    float: left;
    line-height: 50px;
    padding-left: 10px;
    font-weight: bold;
}

footer nav{
    float: right;
}

footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 50px;
    max-width: 100%;
    flex-wrap: wrap;
}

footer ul li{
    padding: 15px;
}
footer ul li a{
    font-size: 30px;
}

.images-section{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: center;
    /*justify-content: space-around;*/
}

.images-section article{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%;
    height: 300px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    line-height: 280px;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid black;
    border-radius: 15px;
}

.images-section img{
    /*display: inline-block;*/
    max-width: 100%;
    max-height: 100%;
    opacity: 0.7;
    border-radius: 15px;
}

.images-section img:hover{
    opacity: 1;
    cursor: pointer;
}
.container {
    width: 210px;
    height: 140px;
    position: relative;
    margin: 0 auto 40px;
    /*border: 1px solid #CCC;*/
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
    text-align: center;
}

#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translateZ( -288px );
    -moz-transform: translateZ( -288px );
    -o-transform: translateZ( -288px );
    transform: translateZ( -288px );
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

#carousel figure {
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#carousel figure:nth-child(1) { background: url("img/headerlogo.jpg"); opacity: 0.8 }
#carousel figure:nth-child(2) { background: url("img/headerlogo.jpg"); opacity: 0.8 }
#carousel figure:nth-child(3) { background: url("img/headerlogo.jpg"); opacity: 0.8 }
#carousel figure:nth-child(4) { background: url("img/headerlogo.jpg"); opacity: 0.8 }
#carousel figure:nth-child(5) { background: url("img/headerlogo.jpg"); opacity: 0.8 }
#carousel figure:nth-child(6) { background: url("img/headerlogo.jpg"); opacity: 0.8 }
#carousel figure:nth-child(7) { background: url("img/headerlogo.jpg"); opacity: 0.8 }
#carousel figure:nth-child(8) { background: url("img/headerlogo.jpg"); opacity: 0.8 }
#carousel figure:nth-child(9) { background: url("img/headerlogo.jpg"); opacity: 0.8 }

#carousel figure:nth-child(1) {
    -webkit-transform: rotateY(   0deg ) translateZ( 288px );
    -moz-transform: rotateY(   0deg ) translateZ( 288px );
    -o-transform: rotateY(   0deg ) translateZ( 288px );
    transform: rotateY(   0deg ) translateZ( 288px );
}
#carousel figure:nth-child(2) {
    -webkit-transform: rotateY(  40deg ) translateZ( 288px );
    -moz-transform: rotateY(  40deg ) translateZ( 288px );
    -o-transform: rotateY(  40deg ) translateZ( 288px );
    transform: rotateY(  40deg ) translateZ( 288px );
}
#carousel figure:nth-child(3) {
    -webkit-transform: rotateY(  80deg ) translateZ( 288px );
    -moz-transform: rotateY(  80deg ) translateZ( 288px );
    -o-transform: rotateY(  80deg ) translateZ( 288px );
    transform: rotateY(  80deg ) translateZ( 288px );
}
#carousel figure:nth-child(4) {
    -webkit-transform: rotateY( 120deg ) translateZ( 288px );
    -moz-transform: rotateY( 120deg ) translateZ( 288px );
    -o-transform: rotateY( 120deg ) translateZ( 288px );
    transform: rotateY( 120deg ) translateZ( 288px );
}
#carousel figure:nth-child(5) {
    -webkit-transform: rotateY( 160deg ) translateZ( 288px );
    -moz-transform: rotateY( 160deg ) translateZ( 288px );
    -o-transform: rotateY( 160deg ) translateZ( 288px );
    transform: rotateY( 160deg ) translateZ( 288px );
}
#carousel figure:nth-child(6) {
    -webkit-transform: rotateY( 200deg ) translateZ( 288px );
    -moz-transform: rotateY( 200deg ) translateZ( 288px );
    -o-transform: rotateY( 200deg ) translateZ( 288px );
    transform: rotateY( 200deg ) translateZ( 288px );
}
#carousel figure:nth-child(7) {
    -webkit-transform: rotateY( 240deg ) translateZ( 288px );
    -moz-transform: rotateY( 240deg ) translateZ( 288px );
    -o-transform: rotateY( 240deg ) translateZ( 288px );
    transform: rotateY( 240deg ) translateZ( 288px );
}
#carousel figure:nth-child(8) {
    -webkit-transform: rotateY( 280deg ) translateZ( 288px );
    -moz-transform: rotateY( 280deg ) translateZ( 288px );
    -o-transform: rotateY( 280deg ) translateZ( 288px );
    transform: rotateY( 280deg ) translateZ( 288px );
}
#carousel figure:nth-child(9) {
    -webkit-transform: rotateY( 320deg ) translateZ( 288px );
    -moz-transform: rotateY( 320deg ) translateZ( 288px );
    -o-transform: rotateY( 320deg ) translateZ( 288px );
    transform: rotateY( 320deg ) translateZ( 288px );
}

.video-player-box{
    background: url("img/1579feb3e44c8e658aac136445720687.gif");
    display: inline-block;
    text-align: center;
}

.video-player-box iframe{
    box-sizing: border-box;
    margin: 10px;
    width: 45%;
    height: 300px;
    box-shadow: 0px 0px 15px white;
}
