@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nova+Oval');

*{
    margin: 0;
    padding: 0;
}



body{
    font-size: 14px;
    font-family: 'Bree Serif', serif;
    /*background: linear-gradient(135deg, #ea6a2e 1%,#ea6a2e 14%,#2989d8 73%,#7db9e8 100%);*/
    color: #000;
    background: url("img/softuni-wallpaper-3-1920x1080.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

header{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

main{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

header{
    /*background-color: #bdb7bf;*/
    margin-bottom: 0;

}

.header-nav{
    /*background-color: #8db7d7;*/
    background: rgba(141, 183, 215, 0.8);
    margin-top: 10px;
    text-align: right;
    border-radius: 10px;
}

.header-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /*height: 50px;*/
    max-width: 100%;
    flex-wrap: wrap;
}

.header-ul li{
    height: inherit;
    width: auto;
    /*border-left: 3px solid rgba(141, 183, 215, 0.8);*/
    cursor: pointer;
    padding: 5px;
}

.index-page li:nth-child(1), .test-page li:nth-child(4), .images-page li:nth-child(2), .videos-page li:nth-child(3){

    background-color: #f3f3f3;
    /*border-left: 3px solid #1001d7;*/
}


.header-nav ul li:hover{
    background-color: #f3f3f3;
    /*border-left: 3px solid #1001d7;*/
}

.header-nav ul li a{
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #000000
}

.welcome{
    text-align: center;
    padding-top: 15px;
    background: rgba(215, 137, 42, 0.8);
    border-radius: 10px;
}

.welcome h1{
    text-transform: uppercase ;
    font-size: 8rem;
    color: #000;
    font-family: "Bree Serif", sans-serif;
}

.welcome h3{
    text-transform: capitalize;
    color: #000;
    padding-bottom: 15px;
}
.welcome img{
    width: 30%;
}

#options{
    position: absolute;
    top: 140px;
    left: 70px;
}

#navigation button{
    height: 30px;
    width:50px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    text-decoration: none;
    outline: none;
}

#navigation button:hover{
    background-color: lightgreen;
}
main{
    margin-top: 0;
}


.fuck-carousel{
    background: rgba(141, 183, 215, 0.8);
    border-radius: 10px;
}

.fuck-carousel h2{
    margin: 0;
}

.typical-programmers{
    text-align: center;
}

.typical-programmers h2{
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Balthazar", "Droid Serif", serif;

}

.typical-programmers p{
    text-transform: capitalize;
}



.testim{
    background: rgba(215, 137, 42, 0.8);
    border-radius: 10px;
    margin-top: 10px;
}

.testim h2{
    margin:0;
    text-align: center;
    font-family: "Balthazar", "Droid Serif", serif;
}

.testimonials{
    display: inline-flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 10px;
}

.left-testimonial, .right-testimonial{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    width: 24%;
    font-size: 1.4rem;
    margin: 5px;
    border: 5px solid #253d50;
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.left-testimonial img{
    float:left;
    max-width:100%;
    height:180px;
    border-radius: 50%;
}

.right-testimonial img{
    float: right;
    max-width:100%;
    height: 200px;
    border-radius: 50%;
}

.testimonial-name{
    height: 15%;
    font-size: 1.2rem;
    font-weight:bold;
    text-align: right;
}



.questionary{
    height: 700px;
    background: rgba(141, 183, 215, 0.8);
    border-radius: 15px;
}

.questionary h2{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding: 15px;
}

.questions-container{
    overflow: hidden;
    height: 500px;

    position: relative;
    text-align: center;
}

.question-box, .result{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: -150%;
    transition: left 1s;
}

.question-1{
    left: 0;
}

.question{
    /*display: block;*/
    padding: 15px;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    width: 50%;
}

.answers{
    display: inline-flex;
}

.answers button{
    line-height:100px;
    width: 200px;
    height: 100px;
    background-color: #fff;
    margin: 15px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif;
}

.answers button:hover{
    background-color: green;
    color: #fff;
    border: 2px solid white;
}

.result-text{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto, sans-serif
}

.result img{
    width: 500px;
    height: 300px;
    border-radius: 15px;
}

.questionary p{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}
@media screen and (max-width: 660px) {
    .result img{
        max-width: 90%;
        height: calc(50vh - 150px);
    }
    .question{
        font-size: 1.8rem;
    }

    .answers button{
        width: 150px;
        height: 70px;
        line-height:70px;
        font-size: 1.2rem;

        margin: 10px;
    }

    .questionary h2{
        font-size: 1.8rem;
    }

    .test-page li:nth-child(4){
        border-bottom-right-radius: 15px;
    }

}
@media screen and (max-width: 440px) {
    .answers button{
        width: 120px;
        height: 50px;
        line-height:50px;
        font-size: 1.2rem;
        margin: 4px;
    }
    .result img{
        max-width: 90%;
        height: calc(50vh - 200px);
    }

    .question{
        font-size: 1.5rem;
        padding: 0;
        padding-bottom: 5px;
    }
}

footer{
    justify-content: center;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px;
    background: rgba(141, 183, 215, 0.8);
}


footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 50px;
    max-width: 100%;
    flex-wrap: wrap;
}

footer ul li{
    padding: 15px;
}
footer ul li a{
    font-size: 30px;
}

@media screen and (max-width: 580px) {
    footer ul li{
        padding: 5px;
    }

    footer ul li a{
        font-size: 15px;
    }
}

.images-section{
    background: rgba(141, 183, 215, 0.8);
    border-radius: 15px;
    justify-content: center;
}

.images-container
{
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.images-section h2{
    font-family: 'Nova Oval', cursive;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    text-shadow: 2px 8px 7px rgba(17, 8, 221, 0.85);

}

.images-section article{
    height: 300px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    line-height: 280px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

.images-section article:hover{

    box-shadow: 0px 0px 8px 7px rgba(0,0,0,0.85);
}

.images-section img{
    width: 330px;
    height: 100%;
    opacity: 0.8;
    border-radius: 15px;
}

.images-section img:hover{
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 460px) {
    .images-section article{
        height: 250px;
        line-height: 230px;
        padding: 2px;
    }
    .images-section img{
        width: 250px;
        height: 80%;
        opacity: 0.8;
        border-radius: 15px;
    }
}

.container {
    width: 500px;
    text-align: center;
}

.container img{
    height: calc(50vh - 100px);
    max-width: 80%;
    margin: 0 auto;
}

.slider-images{
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 640px) {
    .container{
        width: 80%;
    }

    .container img{
        height: calc(50vh - 150px);
        width: 480px;
        margin: 0 auto;
    }

    .typical-programmers h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .container{
        width: 80%;
    }

    .container img{
        height: calc(50vh - 200px);
        width: 320px;
        margin: 0 auto;
    }
}

.video-player-box{
    background: url("img/hacker.gif");
    display: inline-block;
    text-align: center;
    border-radius: 15px;
}

.video-player-box iframe{
    box-sizing: border-box;
    margin: 10px;
    width: 45%;
    height: 300px;
    box-shadow: 0px 0px 15px white;
}

@media screen and (max-width: 960px) {
    .video-player-box {
        display: flex;
        flex-direction: column;
    }
    .video-player-box iframe{
        width: 96%;
    }

}

@media screen and (max-width: 1024px){
    body{
        font-size: 12px;
    }

    .testimonials{
        display: inline-block;
        padding-right: 10px;
    }
    .left-testimonial , .right-testimonial{
        display: inline-block;
        width: 100%;
        border: 1px solid #253d50;
    }


    .left-testimonial img , .right-testimonial img{
        height: 100px;
        max-width: 45%;
        float: left;
    }
    .left-testimonial p , .right-testimonial p{
        float: right;
    }
}

@media screen and (max-width: 960px) {
    .header-ul {
        flex-direction: column;
    }

    .header-ul li{
        width: 100%;
        text-align: center;
    }

    .welcome h1 {
        font-size: 5rem;
    }

    .welcome img{
        width: 50%;
    }
}
